@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.main-page {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.main-page img {
  max-width: 300px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
}

.loginBtn {
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

.registerBtn {
  margin-top: 15px;
  border-radius: 10px;
  width: 150px;
}

.title {
  color: rgb(145, 141, 141);
}
