@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100px;
}

.logo {
  max-width: 100%;
  height: 100px;
}

.identity {
  color: rgb(202, 57, 57);
  margin: 0 auto;
  padding-top: 35px;
  font-size: 28px;
}

.menu {
  background-color: #000;
  color: rgb(202, 57, 57);
}

.links {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 22px;
  font-family: 'Space Mono', monospace;
}

.button:hover,
.identity:hover {
  color: white;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }

  .button {
    font-size: 20px;

  }

  .logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100px;
  }
}

@media (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links,
  .identity {
    align-items: center;
    justify-content: center;
  }

  .button {
    font-size: 16px;

  }
}

@media (max-width: 250px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 200px;
    min-width: 170px;
  }

  .links,
  .identity {
    display: flex;
    flex-direction: column;
  }

  .button {
    font-size: 16px;

  }
}
