<app-navbar></app-navbar>
<div class="container">
  <mat-card *ngFor="let movie of movies;" class="items">
    <mat-card-header>
      <mat-card-title class="title">{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <img class="image" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions class="actions">
      <button mat-button class="button" (click)="openGenreDialog(movie.Genre[0].Name)">
        Genre
      </button>
      <button mat-button class="button1"
        (click)="openDirectorDialog(movie.Director[0].Name)">
        Director
      </button>
      <button mat-button class="button2"
        (click)="openSynopsisDialog(movie.Title, movie.Description, movie.Rating, movie.ReleaseYear )">
        Synopsis
      </button>

      <button class="favorites" *ngIf="!setFavoriteStatus(movie._id)" mat-button (click)="addToFavorites(movie._id)">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button class="favorites" *ngIf="setFavoriteStatus(movie._id)" mat-button
        (click)="removeFromFavorites(movie._id, movie.Title)">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>