mat-card {
  background-color: #000;
  color: rgb(202, 57, 57);
}

mat-card-header {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

mat-card-content,
mat-card-actions {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  background-color: #000;
  color: white;
}
