<mat-card class="director">
  <mat-card-header>
    <mat-card-title>{{data.Name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor=" let director of directors">
        <div *ngIf="data.Name == director.Name">
          <img class="image" src={{director.Image}} alt={{director.Name}}>
          <p>
           {{director.Bio}}
          </p>
          <p class="p2">
            Born: {{director.Birth}}
          </p>
          <p> Filmography: {{director.Filmography}}</p>
        </div>
      </div>
  </mat-card-content>
</mat-card>