@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

mat-card {
  background-color: #000;
  color: #fff;
  font-family: 'Space Mono', monospace;
}

.content {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

mat-card-content {
  font-size: 22px;
}

mat-card-subtitle {
  color: rgb(202, 57, 57);
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}
