<app-navbar></app-navbar>
<div id="main-container">
  <div id="content">
    <h1 class="title">
      <svg xmlns="http://www.w3.org/2000/svg" width="319" height="79" viewBox="0 0 319 79">
        <text id="Directors" transform="translate(0 62)" fill="#707070" font-size="66" font-family="Phosphate-Inline, Phosphate"><tspan x="0" y="0">Directors</tspan></text>
      </svg>
    </h1>
    <div class="directors-container">
      <div class="director-card-wrapper" *ngFor="let director of directors;">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="subtitle">{{director.Name}}</mat-card-title>
            <mat-card-subtitle>
              <img class="image" src={{director.Image}} alt={{director.Name}}>
            </mat-card-subtitle>
            <mat-card-content>
              <br><br>
              <p class="bio">Born in {{director.Birth}}, {{director.Bio}}</p>
              <br>
              <p class="bio">Filmography: {{director.Filmography}}</p>
            </mat-card-content>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>