.directors-container {
  background-color: black;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.title {
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: rgb(202, 57, 57);
}
.bio {
  font-size: 16px;
}

.image {
  height: 300px;
  width: 200px;
}